body {
  margin: 0;
  color: #fff;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px
}

.input-form {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.task-input {
  flex: 1;
  padding: 10px 40px 10px 12px;
  font-size: 22px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.task-input:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.create-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.create-button:hover {
  background-color: #357ab8;
}

