.todo-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.todo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1e2f;
  border: 1px solid #444;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 20px;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
}

.todo-content {
  display: flex;
  justify-content: space-between;
}

.todo-title {
  font-size: 20px;
  padding: 5px 10px;
  margin: 0;
  word-break: break-word;
}

.todo-actions {
  display: flex;
  align-items: center;
}

.todo-checkbox {
  width: 39px;
  height: 25px;
  cursor: pointer;
  margin-right: 10px;
}

.todo-delete-button {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
}

.todo-time {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
  font-style: italic;
  margin-left: 60px;
}

.todo-weather {
  font-size: 14px;
  color: #000000;
  margin: 4px 37px 8px;
  padding: 6px 10px;
  border-radius: 4px;
  font-style: italic;
}

.todo-card.done {
  background-color: #1c8e1d;
  color: white;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.todo-edit-button,
.todo-save-button,
.todo-cancel-button {
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px
}

.todo-save-button {
  background-color: #4caf50;
  margin-bottom: 9px;
}

.todo-edit-button:hover,
.todo-save-button:hover,
.todo-cancel-button:hover {
  opacity: 0.9;
}

.edit-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.edit-buttons {
  margin-right: -25px;
  padding-left: 20px;
}
